{% extends 'base.html' %}

{% block title %}-Add friends-{% endblock %}
{% block head %}
{{super()}}
{% endblock %}


{% block body %}
{{super()}}
<h1>Add Friends</h1>
<div class="my_container">
	<form action="/addFriends" method="POST">
		{{form.csrf_token}}
		{{form.name.label}}
		{{form.name(class="form-control",id="name")}}

		{{form.address.label}}
		{{form.address(class="form-control",id="address")}}

		{{form.age.label}}
		{{form.age(class="form-control",id="age")}}

		{{form.submit(class="btn btn-primary")}}
	</form>
</div>

{% endblock %}